In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

**Importing the dataset**

In [4]:
df = pd.read_csv("Social_Network_Ads.csv")

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
#checking for null values
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [7]:
Gender = pd.get_dummies(df['Gender'],drop_first=True)
df = pd.concat([df,Gender],axis=1)

In [ ]:
df.drop(['Gender'],axis=1,inplace = True)
df.head()

In [8]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased  Male
0  15624510    Male   19            19000          0     1
1  15810944    Male   35            20000          0     1
2  15668575  Female   26            43000          0     0
3  15603246  Female   27            57000          0     0
4  15804002    Male   19            76000          0     1

**Splitting the dataset into the Training set and Test set**

In [9]:
X = df[['User ID','Age','EstimatedSalary','Male']]
Y = df['Purchased']

In [12]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

**Feature Scaling**

In [13]:
scale = StandardScaler()
x_train = scale.fit_transform(x_train)
x_test = scale.transform(x_test)

**Fitting K-NN to the Training set**

In [15]:
knn = KNeighborsClassifier()
knn.fit(x_train,y_train)

KNeighborsClassifier()

**Predicting the Test set results**

In [18]:
predicted = knn.predict(x_test)

In [21]:
accuracy_score(y_test,predicted)

0.9

**Making the Confusion Matrix**

In [19]:
confusion_matrix(y_test,predicted)

array([[78,  5],
       [ 7, 30]], dtype=int64)